<table>
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Image</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.productName }}</td>
      <td>{{ product.image }}</td>
      <td>{{ product.price }}</td>
      <td>
        <button *ngIf="editProductId !== product.productId && product.productId !== undefined" (click)="editProduct(product.productId)">Edit</button>
        <button *ngIf="editProductId === product.productId" (click)="updateProduct(product)">Save</button>
        <button *ngIf="editProductId === product.productId" (click)="cancelEdit()">Cancel</button>
      </td>
    </tr>
  </tbody>
</table>
