<div class="mt-5 d-flex justify-content-center text-center align=-items-sm-center h-100">
<div *ngIf="cartItems.length === 0">
    <h3>Cart is empty</h3><br>
    <button class="btn btn-primary" (click)="goToBuyerProductList()">Add Products</button>
  </div>
  
  <div class="border-secondary" *ngIf="cartItems.length > 0">
    <h3 class="card-header mt-4">Cart Items</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total Amount</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems">
          <td>{{ item.productname }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.totalAmount }}</td>
          <!-- <td><button class="btn btn-danger" (click)="removeFromCart(item.cartId)">  Remove</button></td> -->
          <td><svg xmlns="http://www.w3.org/2000/svg" (click)="removeFromCart(item.cartId)" width="30" height="30" fill="red" class="bi bi-x-square" viewBox="0 0 16 16">
            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg></td>
        </tr>
        <tr>
          <td>
            <!-- <button class="btn btn-info" (click)="goToBuyerProductList()">Add More Products</button> -->
            <svg xmlns="http://www.w3.org/2000/svg" (click)="goToBuyerProductList()" width="30" height="30" fill="lightBlue" class="bi bi-plus-square" viewBox="0 0 16 16">
              <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3"><b>Grand Total:</b></td>
          <td>{{ grandTotal }}</td>
          <!-- <td><button class="btn btn-success" (click)="checkout()">Checkout</button></td> -->
          <td><svg (click)="checkout()" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="green" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
          </svg></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>