<div class="mt-5 text-center d-flex justify-content-center align=-items-sm-center h-100">
<div class="border-secondary p-4">
<h1 class="card-header">Order Details</h1>
<br>
<div *ngIf="order">
  <p>Order ID: {{ order.orderId }}</p>
  <p>Order Date: {{ order.orderDate }}</p>
  <p>Mode of Payment: {{ order.modeOfPayment }}</p>
  <p>Order Status: {{ order.orderStatus }}</p>
  <p>Amount Paid: {{ order.amountPaid }}</p>
  <button class="btn btn-primary mr-2 w-100" (click)="sendEmail(4)">Send On Mail</button>
</div>

<div *ngIf="!order">
  <p>Loading order details...</p>
</div>
</div>
</div>