<div class="mt-5  d-flex justify-content-center align=-items-sm-center h-100">
<div *ngIf="wallet" class="border-secondary p-4">
  <h2 class="card-header text-center">My Wallet</h2>
<p>Current balance: {{ wallet.currentBalance }}</p>
<div>
<form [formGroup]="addBalanceForm" (ngSubmit)="addBalance()">
  <div class="form-group">
    <label for="amount">Amount:</label>
    <input type="number" class="form-control" formControlName="amount" id="amount">
    <div *ngIf="addBalanceForm.controls['amount'].touched && addBalanceForm.controls['amount'].hasError('required')"
         class="invalid-feedback">Amount is required.
    </div>
    <div *ngIf="addBalanceForm.controls['amount'].touched && addBalanceForm.controls['amount'].hasError('required')"
         class="invalid-feedback">Amount must be at least 1.
    </div>
  </div>

  <button class="btn btn-primary me-2 mt-2" type="submit">Add Balance</button>
  <button class="btn btn-success mt-2" (click)="buyNow()">Buy Now</button>
</form>
</div>
</div>
</div>