<h2>Update Product</h2>

<form>
  <div class="form-group">
    <label for="productId">Product ID</label>
    <input type="number" class="form-control" id="productId" [(ngModel)]="productId" name="productId">
  </div>

  <div class="form-group">
    <label for="productName">Product Name</label>
    <input type="text" class="form-control" id="productName" [(ngModel)]="product.productName" name="productName">
  </div>
  
  <div class="form-group">
    <label for="image">Image</label>
    <input type="text" class="form-control" id="image" [(ngModel)]="product.image" name="image">
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" class="form-control" id="price" [(ngModel)]="product.price" name="price">
  </div>
  
  <button type="button" class="btn btn-primary" (click)="updateProduct()">Update</button>
</form>
